@import "styles/mixins";

.divWeatherMain {
  display: block;
  border-radius: 10px;
  width: 404px;
  height: 220px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(8, 7, 42, 1) 75%,
    rgb(8, 10, 63) 100%
  );
  color: white;
  @include shadow;
}

.day {
  background: linear-gradient(180deg, #5393b2 0%, #7fa9bf 75%, #a7bdca 100%);
}

.weatherWidgetRow {
  display: block;
  margin: 0 auto;
  width: fit-content;
  font-family: Fredoka-Regular;
}

// @media only screen and (max-width: 412px) {
@media only screen and (max-device-width: 375px) {
  .divWeatherMain {
    width: 290px;
  }
}
