<div class="app-page">
  <app-loading-tennis *ngIf="isLoading"></app-loading-tennis>
  <!-- <h4 *ngIf="!isAddPhotos">Zagreb 2021</h4> -->

  <!-- zagreb 2021 -->
  <details id="zg">
    <summary>Zagreb &nbsp;<span class="datum">06.10.2021 </span></summary>
    <div class="content">
      test1
      <!-- <ng-image-slider
        *ngIf="!isAddPhotos"
        [images]="galleryArray"
        #nav
      ></ng-image-slider> -->
    </div>
  </details>

  <!-- graz 2022 -->
  <details id="gr">
    <summary>Graz &nbsp;<span class="datum">04.06.2022 </span></summary>
    <div class="content">
      <!-- pic -->
      <div class="responsive" *ngFor="let pic of galleryArray">
        <div class="gallery">
          <a target="_blank" href="{{ pic?.image }}">
            <img
              src="{{ pic?.image }}"
              alt="Cinque Terre"
              width="600"
              height="400"
            />
          </a>
        </div>
      </div>
      <!-- pic end -->
    </div>
  </details>

  <div class="center">
    <router-outlet *ngIf="isAddPhotos"></router-outlet>
  </div>

  <!-- 
  <app-button-primary class="btn" *ngIf="isAdmin$ | async" (click)="addPhotos()"
    >{{ isAddPhotos ? "Cancel" : "Add Photos +" }}
  </app-button-primary> -->
</div>
