<div class="app-page">
  <!-- <app-loading-tennis *ngIf="isLoading"></app-loading-tennis> -->

  <h2 *ngIf="!isLoading && !isAddPhotos">Zagreb 2021</h2>

  <ng-image-slider
    [images]="imageObject"
    #nav
    *ngIf="!isLoading && !isAddPhotos"
  ></ng-image-slider>

  <router-outlet *ngIf="isAddPhotos"></router-outlet>

  <app-button-primary
    class="btn-edit"
    *ngIf="isAdmin$ | async"
    (click)="addPhotos()"
    >{{ isAddPhotos ? "Cancel" : "Add Photos +" }}
  </app-button-primary>
</div>
