@import "styles.scss";

.app-page {
  margin-top: 0;
  margin-bottom: 0;
  height: 90vh;
  background-image: url("https://t4.ftcdn.net/jpg/02/04/19/73/360_F_204197377_mGHloO1S47PXmlfP1iLpB4JDUgnyC5zp.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-edit {
  position: absolute;
  top: 20px;
  right: 20px;
}

@media only screen and (max-width: 412px) {
  .app-page {
  }
}
