@import "styles.scss";

footer {
  min-height: 10vh;
  border-top: 1px solid $primary-dark;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: $primary;
  max-width: 900px;
  margin: 0 auto;
  display: flex;

  .container {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  span {
    vertical-align: middle;
    margin-left: 10px;
    font-size: 0.8rem;
    color: $on-primary;
    font-weight: 300;
  }
}
