@import "styles.scss";

footer {
  max-width: 1680px;
  width: 95%;
  padding: 35px;
  background-color: $primary;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    display: block;
    font-size: 1rem;
    color: $on-primary;
    font-weight: 300;
  }
}

@media (max-width: 1680px) {
  footer {
    width: 100% !important;
  }
}
