@import "styles.scss";

footer {
  height: 8vh;
  border-top: 1px solid $primary-dark;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: $primary;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
}

.container {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

a {
  color: $on-primary;
  text-decoration: none;
}

span {
  vertical-align: middle;
  margin-left: 10px;
  font-size: 0.8rem;
  color: $on-primary;
  font-weight: 300;
}

// @media only screen and (max-width: 412px) {
@media only screen and (max-device-width: 412px) {
  a {
    display: none;
  }
}
