<div class="app-page">
  <h3>Pravila</h3>

  <ul>
    <li>u grupama igra svako sa svakim, pobijeda donosi 2 boda</li>
    <li>
      igra se jedan set na 4 dobijena gema, (u slucaju 4:4 igra se tie-break do
      7)
    </li>
    <li>
      po zavrsetku skupina u slucaju istog br bodova gleda se medjusobni omjer
    </li>
    <li>
      ukoliko 3 igraca imaju isti br bodova, gleda se broj izgubljenih gemova
    </li>
    <br />
    <li>
      drugi dio takmicenja se igra na dva dobijena seta do 3, (u slucaju 3:3 u
      setu igra se tie-break do 7)
    </li>
    <li>
      finale i trece mjesto se igra na 3 dobijena seta do 3, (u slucaju 3:3 u
      setu igra se tie-break do 7)
    </li>

    <br />
    <li>polufinale se igra unaksrno 1. i 2. iz skupina</li>
    <li>za 5. i 6. mjesto igraju treceplasirani iz skupina</li>
    <li>za 7. i 8. mjesto igraju cetvrtoplasirani iz skupina</li>
    <li>od 9 do 11 mjesta razigravaju 5., 5. i 6.</li>
    <br />
    <li>prvo mjesto donosi 110 bodovo a svako slijedece 10 bodova manje</li>
    <li>ukupno 34 meca</li>
    <li>
      organizator zadrzava pravo mijenjanja praivila i namijestanja rezultata!
    </li>
  </ul>
</div>
