@import "styles.scss";

footer {
  background: #f3f3f3;
  margin-top: 3rem;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid $primary;
  text-align: center;
  background-image: linear-gradient(
    180deg,
    #166d3b 5%,
    #4aa571 50%,
    #166d3b 95%
  );
}

.container {
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

a {
  color: $primary;
  text-decoration: none;
}

span {
  vertical-align: middle;
  margin-left: 10px;
  font-size: 0.8rem;
  color: $primary;
  font-weight: 300;
}
