@import "styles.scss";

.header {
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $primary;
  border-top: 1px solid $primary;
  align-items: center;
  background-image: linear-gradient(315deg, #c4f6d5 0%, #7ad181 74%);

  .app-a {
    font-size: x-large;
    font-family: Fredoka-Bold;
    color: $primary;
    transition-duration: 0.3s;

    &:hover {
      color: antiquewhite;
      transition-duration: 0.3s;
    }

    &_active {
      color: antiquewhite;
    }
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    img {
      width: 66px;
      height: 66px;
    }
  }
}
