<div class="header">
  <!-- Logo Header Starts -->
  <div class="header__logo">
    <img
      src="./assets/image/tennis_logo.svg"
      alt="tennis_logo"
      [routerLink]="['home']"
    />
  </div>

  <!-- LoggedOut User -->
  <div *ngIf="!(isLoggedIn$ | async)">
    <a
      class="app-a"
      routerLinkActive="app-a_active"
      [routerLink]="['static/home']"
      >Home</a
    >
    <a
      class="app-a"
      [routerLink]="['auth/login']"
      routerLinkActive="app-a_active"
      >Log in
    </a>

    <a
      class="app-a"
      [routerLink]="['auth/registration']"
      routerLinkActive="app-a_active"
      >Registration
    </a>
  </div>

  <!-- LoggedIn User -->
  <div *ngIf="isLoggedIn$ | async">
    <a
      class="app-a"
      routerLinkActive="app-a_active"
      [routerLink]="['static/home']"
      >Home</a
    >
    <a class="app-a" routerLinkActive="app-a_active" [routerLink]="['players']"
      >Players</a
    >
    <a class="app-a" routerLinkActive="app-a_active" [routerLink]="['gallery']"
      >Gallery</a
    >
    <a class="app-a" routerLinkActive="app-a_active" [routerLink]="['gallery']"
      >Locations</a
    >
  </div>

  <div class="signOut" *ngIf="isLoggedIn$ | async">
    <a class="app-a" routerLinkActive="app-a_active" (click)="signOut()">
      Sign Out
    </a>
  </div>
</div>
