<div class="header">
  <div class="header__logo">
    <img
      src="../../../assets/image/tennis_logo.svg"
      alt="tennis_logo"
      [routerLink]="['/']"
    />
  </div>
  <div *ngIf="!(isLoggedIn$ | async)">
    <a class="app-a" routerLinkActive="app-a_active" [routerLink]="['/']"
      >Home</a
    >
    <a
      class="app-a"
      [routerLink]="['auth/login']"
      routerLinkActive="app-a_active"
      >Log in
    </a>

    <a
      class="app-a"
      [routerLink]="['auth/registration']"
      routerLinkActive="app-a_active"
      >Registration
    </a>
  </div>

  <div *ngIf="isLoggedIn$ | async">
    <a class="app-a" routerLinkActive="app-a_active" [routerLink]="['/']"
      >Home</a
    >
    <a class="app-a" routerLinkActive="app-a_active" [routerLink]="['players']"
      >Players</a
    >
    <a class="app-a" routerLinkActive="app-a_active" [routerLink]="['gallery']"
      >Gallery</a
    >
    <a class="app-a" routerLinkActive="app-a_active" [routerLink]="['gallery']"
      >Locations</a
    >
  </div>

  <div class="signOut" *ngIf="!(isLoggedIn$ | async)">
    <a class="app-a" routerLinkActive="app-a_active" (click)="signOut()">
      Sign Out
    </a>
    <img
      class="app-a"
      src="../../../assets/image/logout-svgrepo-com.svg"
      alt="logout"
    />
  </div>
</div>
