@import "../../../styles.scss";

.header {
  height: 80px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $primary;
  border-top: 1px solid $primary;
  background-color: #d6e9c6;
  align-items: center;

  .app-a {
    font-size: large;
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    img {
      width: 56px;
      height: 56px;
    }
  }
}
