@import "styles.scss";

.header {
  height: 120px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $primary-dark;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  background-color: $primary;
  position: relative;

  .app-a {
    font-size: x-large;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: $on-primary;
    transition-duration: 0.3s;

    &:hover {
      color: $primary-dark;
      transition-duration: 0.3s;
    }

    &_active {
      color: $primary-dark;
    }
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    img {
      width: 82px;
      height: 66px;
      margin-left: 25px;
    }
  }

  .admin {
    display: flex;

    img {
      height: 10px;
      width: 10px;
    }
  }

  .dropdown {
    display: inline-block;
    align-items: center;
    position: relative;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: -10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    border-radius: 6px;
  }

  .dropdown-content a {
    color: $primary-dark;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: $primary-light;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  .dropdown-content a:hover {
    background: $primary;
    color: $on-primary;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .langSelect {
    padding: 5px 10px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .languages {
    position: absolute;
    right: 40px;
    top: 10px;
    display: flex;

    img {
      margin-right: 5px;
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }
}

// @media screen and (max-width: 412px) {
@media only screen and (max-device-width: 412px) {
  .app-a {
    font-size: small !important;
  }

  .header__logo {
    display: none;
  }
}
