<!--  NAVBAR -->
<div class="header mobileMode">
  <!-- Logo -->
  <div class="header__logo">
    <img
      src="./assets/image/main_logo/tennis_logo.svg"
      alt="tennis_logo"
      [routerLink]="['home']"
    />
  </div>

  <!-- UnAuth User -->
  <div *ngIf="!(isLoggedIn$ | async)">
    <a
      class="app-a"
      [routerLink]="['auth/login']"
      routerLinkActive="app-a_active"
      >{{ "HEADER.LOGIN" | translate }}
    </a>

    <a
      class="app-a"
      [routerLink]="['auth/registration']"
      routerLinkActive="app-a_active"
      >{{ "HEADER.REGISTRATION" | translate }}
    </a>
  </div>

  <!-- Auth User -->
  <div *ngIf="isLoggedIn$ | async">
    <a class="app-a" routerLinkActive="app-a_active" [routerLink]="['home']"
      >{{ "HEADER.HOME" | translate }}
    </a>
    <a class="app-a" routerLinkActive="app-a_active" [routerLink]="['players']"
      >{{ "HEADER.PLAYERS" | translate }}
    </a>
    <a class="app-a" routerLinkActive="app-a_active" [routerLink]="['gallery']"
      >{{ "HEADER.GALLERY" | translate }}
    </a>
    <a
      class="app-a"
      routerLinkActive="app-a_active"
      [routerLink]="['locations']"
      >{{ "HEADER.LOCATION" | translate }}
    </a>
  </div>

  <!-- Dropdown menu -->
  <div class="dropdown" *ngIf="isLoggedIn$ | async">
    <div class="admin">
      <a class="app-a"> Admin <span style="font-size: 16px">▼</span> </a>
    </div>
    <div class="dropdown-content">
      <a (click)="signOut()">{{ "HEADER.LOGOUT" | translate }}</a>
      <a
        *ngIf="(isAdmin$ | async) && (isLoggedIn$ | async)"
        [routerLink]="['new-player']"
        >{{ "HEADER.NEW PLAYER" | translate }}
      </a>
    </div>
  </div>

  <!-- Languages -->
  <div class="languages">
    <img
      src="../../../assets/image/language_flags/united-kingdom.png"
      alt="uk"
      (click)="translate.use('en')"
    />
    <img
      src="../../../assets/image/language_flags/germany.png"
      alt="de"
      (click)="translate.use('de')"
    />
    <img
      src="../../../assets/image/language_flags/croatia.png"
      alt="hr"
      (click)="translate.use('hr')"
    />
  </div>
</div>

<!-- HAMBURGER MENU -->
<nav class="burger-menu">
  <div class="navbar">
    <div class="container nav-container">
      <input
        class="checkbox"
        type="checkbox"
        (change)="test = !test"
        [checked]="test"
      />
      <div class="hamburger-lines">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </div>

      <div class="logo">
        <div class="header__logo">
          <img
            src="./assets/image/main_logo/tennis_logo.svg"
            alt="tennis_logo"
            [routerLink]="['home']"
          />
        </div>
      </div>

      <div class="menu-items">
        <!-- Auth User -->
        <div *ngIf="isLoggedIn$ | async">
          <li (click)="test = !test">
            <a
              class="app-a"
              routerLinkActive="app-a_active"
              [routerLink]="['home']"
              >{{ "HEADER.HOME" | translate }}</a
            >
          </li>
          <li (click)="test = !test">
            <a
              class="app-a"
              routerLinkActive="app-a_active"
              [routerLink]="['players']"
              >{{ "HEADER.PLAYERS" | translate }}
            </a>
          </li>
          <li (click)="test = !test">
            <a
              class="app-a"
              routerLinkActive="app-a_active"
              [routerLink]="['gallery']"
              >{{ "HEADER.GALLERY" | translate }}
            </a>
          </li>
          <li (click)="test = !test">
            <a
              class="app-a"
              routerLinkActive="app-a_active"
              [routerLink]="['locations']"
              >{{ "HEADER.LOCATION" | translate }}
            </a>
          </li>

          <li (click)="test = !test">
            <a class="app-a" [routerLink]="['new-player']"
              >{{ "HEADER.NEW PLAYER" | translate }}
            </a>
          </li>
          <li (click)="test = !test">
            <a class="app-a" (click)="signOut()">{{
              "HEADER.LOGOUT" | translate
            }}</a>
          </li>
        </div>

        <!-- UnAuth User -->
        <div *ngIf="!(isLoggedIn$ | async)">
          <a
            (click)="test = !test"
            class="app-a"
            [routerLink]="['auth/login']"
            routerLinkActive="app-a_active"
            >{{ "HEADER.LOGIN" | translate }}
          </a>

          <a
            (click)="test = !test"
            class="app-a"
            [routerLink]="['auth/registration']"
            routerLinkActive="app-a_active"
            >{{ "HEADER.REGISTRATION" | translate }}
          </a>
        </div>
        <!-- Languages -->
        <div class="languages">
          <img
            src="../../../assets/image/language_flags/united-kingdom.png"
            alt="uk"
            (click)="translate.use('en')"
          />
          <img
            src="../../../assets/image/language_flags/germany.png"
            alt="de"
            (click)="translate.use('de')"
          />
          <img
            src="../../../assets/image/language_flags/croatia.png"
            alt="hr"
            (click)="translate.use('hr')"
          />
        </div>
        <!-- end -->
      </div>
    </div>
  </div>
</nav>
