@import "styles.scss";

.app-page {
  margin: 0 auto;
  min-height: 75vh;
  background-image: url("https://t4.ftcdn.net/jpg/02/04/19/73/360_F_204197377_mGHloO1S47PXmlfP1iLpB4JDUgnyC5zp.jpg");
  background-position: center;
  background-size: cover;
  position: relative;

  &__left {
    padding-top: 20px;
    text-align: center;
  }

  p {
    font-size: larger;
    color: $on-primary;
    text-align: justify;
  }
}

.test {
  width: 100vw;
  height: 100vh;
  background-color: #fff;

  h1 {
    color: black;
  }
}

@media only screen and (max-width: 820px) {
  h1 {
    font-size: 55px;
  }
  .app-page__content {
    width: 95%;
  }
}

@media only screen and (max-device-width: 412px) {
  h1 {
    font-size: 40px;
  }
}
