<div class="app-page">
  <div class="app-page__left">
    <h1>{{ "HOME.WELCOME" | translate }}</h1>
    <div class="app-page__content">
      <p>
        &nbsp; &nbsp; Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quos dolor voluptates id placeat perspiciatis molestiae, eum non
        architecto a nemo cum omnis harum iste commodi excepturi cupiditate
        ullam quae perferendis. Perspi et nemo nesciunt corporis. Nam eius rem
        pariatur sint aut!
      </p>
      <p>
        &nbsp; &nbsp; Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quos dolor voluptates id placeat perspiciatis molestiae, eum non
        architecto a nemo cum omnis harum iste commodi excepturi cupiditate
        ullam quae perferendis.
      </p>
    </div>
  </div>
</div>
