@import "styles.scss";

.app-page {
  margin: auto;
  background-image: url("https://t4.ftcdn.net/jpg/02/04/19/73/360_F_204197377_mGHloO1S47PXmlfP1iLpB4JDUgnyC5zp.jpg");
  background-position: center;
  background-size: cover;
  min-height: 75vh;

  .one {
    margin-top: 15vh;
    text-align: center;

    h3 {
      margin-bottom: 50px;
    }

    h4 {
      margin-bottom: 20px;
    }

    h1 {
      font-family: "PTSans", sans-serif;
      margin-bottom: 100px;
      line-height: 1.2;
    }
  }
}
