@import "styles.scss";

.player {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid $primary;
  transition-duration: 0.3s;
  cursor: pointer;
  color: $primary-dark;

  &:hover {
    background: $primary;
    color: #fff;
    transition-duration: 0.5s;
  }

  &:hover img {
    transition-duration: 0.5s;
    transform: scale(1.2);
  }

  &__name {
    flex: 2;
    font-size: larger;
    font-family: Fredoka-Regular;
  }

  &__photo {
    flex: 1;
  }

  img {
    border-radius: 50%;
    height: 55px;
    width: 55px;
    transition-duration: 0.5s;
  }
}

.active {
  background: $primary;
  color: white;
  transition-duration: 0.5s;
}
