@import "styles/mixins";

.player {
  grid-gap: 30px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 20px;
  height: 100vh;
  position: relative;

  grid-template-areas:
    "img det"
    "bio bio";

  &__bio {
    grid-area: bio;
    overflow: auto;
    height: 300px !important;
    padding-bottom: 100px !important;
    background-color: rgba(255, 255, 255, 0.178) !important;
    @include card;
  }

  &__img {
    grid-area: img;

    img {
      height: 260px;
      width: 200px;
      border-radius: 5px;
      border-top-left-radius: 50px;
      @include shadow;
    }
  }

  &__details {
    grid-area: det;

    h2 {
      font-size: xx-large;
      font-weight: 600;
      margin-top: 0;
    }
  }
}

.about {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  img {
    width: 23px;
    height: 23px;
    margin-right: 8px;
  }
}

.networks {
  margin-top: 20px;

  ul {
    display: flex;
    list-style: none;

    li {
      transition-duration: 0.3s;

      &:hover {
        transform: translateY(-3px);
        transition-duration: 0.3s;
      }
    }
  }

  img {
    width: 33px;
    height: 33px;
    margin-right: 30px;
  }
}

.btn-edit {
  position: absolute;
  top: 20px;
  right: 20px;
}
