<!-- loading -->
<app-loading-tennis *ngIf="loading$ | async"></app-loading-tennis>

<!-- right -->

<div class="player app-page">
  <h3>{{ player?.name }}</h3>

  <div class="player__img">
    <img class="player__img-frame" src="{{ player?.image }}" alt="" />
  </div>

  <div class="player__details">
    <span class="about">
      <img
        src="../../../../../assets/image/descriptions_icon/email.svg"
        alt="email"
      />
      <p>
        {{ player?.email }}
      </p>
    </span>
    <span class="about">
      <img
        src="../../../../../assets/image/descriptions_icon/phone.svg"
        alt="phone"
      />
      <p>
        {{ player?.phone }}
      </p>
    </span>
    <span class="about">
      <img
        src="../../../../../assets/image/descriptions_icon/weight.svg"
        alt="weight"
      />
      <p>{{ player?.weight }}kg</p>
    </span>
    <span class="about">
      <img
        src="../../../../../assets/image/descriptions_icon/height.svg"
        alt="height"
      />
      <p>{{ player?.height }}cm</p>
    </span>
    <span class="about">
      <img
        src="../../../../../assets/image/descriptions_icon/map.svg"
        alt="birthplace"
      />
      <p>
        {{ player?.birthplace }}
      </p>
    </span>
    <span class="about" *ngIf="player?.sponsors">
      <img
        src="../../../../../assets/image/descriptions_icon/hands.svg"
        alt="sponsors"
      />
      <p>
        {{ player?.sponsors }}
      </p>
    </span>
  </div>

  <!-- bottom -->
  <div class="player__bio">
    <h4>Biography:</h4>
    <span>{{ player?.bio }}</span>
  </div>

  <div class="networks">
    <ul>
      <li>
        <a href="https://www.instagram.com/instagram/"
          ><img
            src="../../../../../assets/image/networks_icon/instagram.svg"
            alt="in"
        /></a>
      </li>
      <li>
        <a href="https://www.facebook.com/"
          ><img
            src="../../../../../assets/image/networks_icon/facebook.svg"
            alt="fb"
        /></a>
      </li>
      <li>
        <a
          href="https://www.google.at/webhp?gfe_rd=cr&dcr=0&ei=JgG4WukUj8Re7_yN2Ac"
          ><img
            src="../../../../../assets/image/networks_icon/linkedin.svg"
            alt="ln"
        /></a>
      </li>
      <li>
        <a
          href="https://www.google.at/webhp?gfe_rd=cr&dcr=0&ei=JgG4WukUj8Re7_yN2Ac"
          ><img
            src="../../../../../assets/image/players_flag/Animated-Flag-{{
              player?.country
            }}.gif"
            alt=""
        /></a>
      </li>
    </ul>
  </div>
  <div class="navigate-buttons">
    <app-button-primary *ngIf="isAdmin$ | async" (click)="onEditPlayer()"
      >Edit
    </app-button-primary>

    <app-button-primary (click)="onBack()">Back</app-button-primary>
  </div>
</div>
