@import "styles/mixins";

.player {
  grid-gap: 30px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 40px;
  height: 100vh;
  position: relative;

  grid-template-areas:
    "img det"
    "bio bio";

  &__bio {
    grid-area: bio;
    overflow: auto;
    height: 300px !important;
    padding-bottom: 100px !important;
    background-color: rgba(201, 226, 204, 0.778) !important;
    @include card;
    @include shadow;
  }

  &__img {
    grid-area: img;
    text-align: center;

    &-frame {
      height: 260px;
      width: 200px;
      border-radius: 5px;
      border-top-left-radius: 50px;
    }
  }

  &__details {
    grid-area: det;
    background-color: rgba(201, 226, 204, 0.778) !important;
    @include shadow;
    @include card;
  }
}

.about {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;

  img {
    width: 23px;
    height: 23px;
    margin-right: 8px;
  }
}

.networks {
  margin-top: 20px;

  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    z-index: 999;

    li {
      transition-duration: 0.3s;

      &:hover {
        transform: translateY(-3px);
        transition-duration: 0.3s;
      }
    }
  }

  img {
    width: 33px;
    height: 33px;
  }
}

.btn-edit {
  position: absolute;
  top: 20px;
  right: 20px;
}

p {
  font-size: large;
  color: black;
}
