<!-- loading -->
<app-loading-tennis *ngIf="loading$ | async"></app-loading-tennis>

<!-- right -->
<div class="container">
  <!-- title -->
  <div class="title">
    <h2>{{ player?.name }}</h2>
  </div>

  <!-- img -->
  <div class="img">
    <div class="player__img">
      <img class="player__img-frame" src="{{ player?.image }}" alt="" />
    </div>
  </div>

  <!-- data -->
  <div class="data">
    <span class="box">
      <img
        src="../../../../../assets/image/descriptions_icon/email.svg"
        alt="email"
      />
      <p>
        {{ player?.email }}
      </p>
    </span>
    <span class="box">
      <img
        src="../../../../../assets/image/descriptions_icon/phone.svg"
        alt="phone"
      />
      <p>
        {{ player?.phone }}
      </p>
    </span>
    <span class="box">
      <img
        src="../../../../../assets/image/descriptions_icon/weight.svg"
        alt="weight"
      />
      <p>{{ player?.weight }}kg</p>
    </span>
    <span class="box">
      <img
        src="../../../../../assets/image/descriptions_icon/height.svg"
        alt="height"
      />
      <p>{{ player?.height }}cm</p>
    </span>
    <span class="box">
      <img
        src="../../../../../assets/image/descriptions_icon/map.svg"
        alt="birthplace"
      />
      <p>
        {{ player?.birthplace }}
      </p>
    </span>
    <span class="box" *ngIf="player?.sponsors">
      <img
        src="../../../../../assets/image/descriptions_icon/hands.svg"
        alt="sponsors"
      />
      <p>
        {{ player?.sponsors }}
      </p>
    </span>
    <span class="box" *ngIf="player?.sponsors">
      <img
        src="../../../../../assets/image/descriptions_icon/success.svg"
        alt="success"
      />
      <p>
        {{ player?.points }}
      </p>
    </span>
  </div>

  <!-- network -->
  <div class="network">
    <img
      src="../../../../../assets/image/networks_icon/instagram.svg"
      alt="in"
    />
    <img
      src="../../../../../assets/image/networks_icon/facebook.svg"
      alt="fb"
    />
    <img
      src="../../../../../assets/image/networks_icon/linkedin.svg"
      alt="ln"
    />
    <img
      src="../../../../../assets/image/players_flag/Animated-Flag-{{
        player?.country
      }}.gif"
      alt="flag"
    />
  </div>

  <!-- empty -->
  <div class="empty"></div>

  <!-- bio -->
  <div class="bio">
    <h3>Biography:</h3>
    <p>{{ player?.bio }}</p>
  </div>

  <!-- btn -->
  <div class="navigate-buttons">
    <app-button-primary *ngIf="isAdmin$ | async" (click)="onEditPlayer()"
      >Edit
    </app-button-primary>

    <app-button-primary (click)="onBack()">Back</app-button-primary>
  </div>
</div>
