@import "styles.scss";

.app-page {
  &__header {
    h2 {
      font-weight: 900;
      color: $primary-dark;
      margin-bottom: 30px;
    }

    a {
      color: #bbbbbb;
      font-weight: 200;
      font-size: small;
      cursor: pointer;
    }
  }

  &__content {
    max-width: 500px;
    width: 90%;

    .btn {
      display: block;
      float: right;
    }
  }

  .error {
    opacity: 0;
    font-size: 12px;
    color: $error;
    padding: 4px 0 16px 0;

    &_active {
      opacity: 1;
    }
  }
}
