.city {
  display: flex;

  &__left {
    flex: 1;
  }
  &__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    .weather {
      display: block;
      margin-bottom: 20px;
    }
  }
}

@media only screen and (max-device-width: 412px) {
}
