@import "styles/mixins";

.full {
  width: 90%;
  height: 320px;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 40px;
  @include shadow;
}

// @media only screen and (max-width: 412px) {
@media only screen and (max-device-width: 412px) {
  .full {
    width: 290px;
  }
}
