@import "styles/mixins";

.full {
  width: 404px;
  height: 220px;
  border-radius: 5px;
  @include shadow;
}

// @media only screen and (max-width: 412px) {
@media only screen and (max-device-width: 375px) {
  .full {
    width: 290px;
  }
}
