<section class="app-page">
  <app-loading-tennis class="loading" *ngIf="isLoading"></app-loading-tennis>

  <input type="radio" id="graz" value="1" name="tractor" checked="checked" />
  <input type="radio" id="karlovac" value="2" name="tractor" />
  <input type="radio" id="posusje" value="3" name="tractor" />
  <input type="radio" id="gradiska" value="4" name="tractor" />
  <input type="radio" id="zagreb" value="5" name="tractor" />

  <nav>
    <label for="graz">
      <img src="../../../assets/image/citys_logo/graz.svg" alt="graz" />
    </label>
    <label for="karlovac">
      <img src="../../../../assets/image/citys_logo/karlovac.png" alt="kar" />
    </label>
    <label for="posusje">
      <img src="../../../../assets/image/citys_logo/posusje.jpg" alt="pos" />
    </label>
    <label for="gradiska">
      <img src="../../../../assets/image/citys_logo/gradiska.png" alt="grad" />
    </label>
    <label for="zagreb">
      <img src="../../../../assets/image/citys_logo/zagreb.png" alt="zg" />
    </label>
  </nav>

  <article class="one">
    <app-city-dashboard
      [cityQuery]="'graz'"
      [time]="'jun 4, 2022 11:00:00'"
    ></app-city-dashboard>
  </article>

  <article class="two">
    <app-city-dashboard
      [cityQuery]="'karlovac'"
      [time]="'may 5, 2022 00:00:00'"
    ></app-city-dashboard>
  </article>

  <article class="three">
    <app-city-dashboard
      [cityQuery]="'posušje'"
      [time]="'Sep 5, 2022 00:00:00'"
    ></app-city-dashboard>
  </article>

  <article class="four">
    <app-city-dashboard
      [cityQuery]="'gradiska'"
      [time]="'Jun 5, 2022 00:00:00'"
    ></app-city-dashboard>
  </article>

  <article class="five">
    <app-city-dashboard
      [cityQuery]="'zagreb'"
      [time]="'Oct 1, 2022 00:00:00'"
    ></app-city-dashboard>
  </article>
</section>
