@import "styles.scss";

.app-page {
  min-height: 75vh;

  &__header {
    h2 {
      font-weight: bold;
      color: $primary-dark;
    }

    a {
      color: #bbbbbb;
      font-weight: 200;
      font-size: small;
      cursor: pointer;
    }
  }

  &__content {
    max-width: 500px;
    height: fit-content;

    .btn {
      display: block;
      float: right;
    }
  }
}

// @media only screen and (max-width: 412px) {
//   .app-page {
//     min-height: 75vh;
//   }
// }
