<!-- loading -->
<app-loading-tennis *ngIf="loading$ | async"></app-loading-tennis>

<!-- login -->
<div class="app-page">
  <!-- header -->
  <div class="app-page__header">
    <h2>{{ "AUTH.LOGIN" | translate }}</h2>
    <a class="app-a" [routerLink]="['/auth/registration']">
      {{ "AUTH.NEED_ACCOUNT" | translate }}
    </a>
  </div>

  <!-- form -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="app-page__content">
      <!-- input email -->
      <app-form-field
        [required]="false"
        [control]="form.controls?.['email']"
        [isInline]="false"
        [patternError]="regexErrors.email"
      >
        <app-input formControlName="email" [placeholder]="'Email'"></app-input>
      </app-form-field>

      <!-- input password -->
      <app-form-field
        [required]="false"
        [control]="form.controls?.['password']"
        [isInline]="false"
        [patternError]="regexErrors.password"
      >
        <app-password
          formControlName="password"
          [placeholder]="'Password'"
        ></app-password>
      </app-form-field>

      <!-- button -->
      <app-button-primary [type]="'submit'" class="btn">
        {{ "AUTH.LOGIN" | translate }}
      </app-button-primary>
    </div>
  </form>
</div>
