@import "styles.scss";

.app-page {
  margin: 0 auto;
  min-height: 75vh;
  background-image: url("https://t4.ftcdn.net/jpg/02/04/19/73/360_F_204197377_mGHloO1S47PXmlfP1iLpB4JDUgnyC5zp.jpg");
  background-position: center;
  background-size: cover;

  &__content {
    margin: 0 auto;
    width: 80%;
  }

  h4 {
    text-align: left;
  }

  h3 {
    margin-top: 30px;
  }

  .res {
    overflow-x: auto;

    ul li {
      color: $primary-dark !important;
    }

    span {
      font-weight: 900;
    }
  }

  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    max-width: 100%;
  }

  #customers td,
  #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 18px;
    text-align: center !important;
  }

  #customers tr {
    background-color: #f2f2f2;
  }

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: $on-primary;
    background-color: $primary-dark;
  }

  .rank {
    max-width: 50% !important;
    margin: 0 auto;

    tr > td:first-child {
      width: 60px;
    }
    tr > td:last-child {
      width: 90px;
    }
    td {
      padding: 10px 20px !important;
    }
    th {
      padding: 20px 15px !important;
    }
    tr:hover {
      background-color: $primary-dark !important;
      color: $on-primary !important;
      cursor: pointer;
      transition: 0.2s;
    }
    tr > td:nth-child(2) {
      text-align: left !important;
    }
  }

  table > tr > td:first-child {
    background-color: $primary;
    color: $primary-dark;
    width: 150px;
    text-align: center !important;

    &:hover {
      background-color: $primary !important;
    }
  }

  li {
    color: #f2f2f2 !important;
    text-align: left;
    margin-left: 30px;
    font-size: 18px;
  }

  .list-decimal {
    li {
      list-style-type: decimal;
    }
  }

  .matches {
    display: flex;
    justify-content: space-evenly;
  }

  .img-kl {
    width: 100%;
    height: auto;
  }

  // panel

  div.panel {
    max-width: 85%;
    margin: auto;
    margin-top: calc(5% - 0px);

    h4 {
      color: $primary-dark;
    }
  }

  details {
    background: $primary;
    font-size: 16px;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    display: flex;
    text-align: left;
  }

  details div.content {
    padding: 24px 24px 40px 24px;
    background-color: $primary-light;
  }

  details[open] {
    margin-top: 16px;
    margin-bottom: 16px;
    border: none;
    border-radius: 2px;
  }
  details[open]:first-child {
    margin-top: 0;
    margin-bottom: 16px;
    border: none;
  }
  details[open]:last-child {
    margin-top: 16px;
    margin-bottom: 0px;
    border: none;
  }

  summary {
    outline: none;
    cursor: pointer;
    padding: 16px 24px;
    color: #ffffff;
    position: relative;
    font-size: 22px;
    padding: 20px;
    font-family: sans-serif;

    &:hover {
      background: $primary-dark;
    }
  }

  .datum {
    font-size: smaller;
    float: right;
  }
}

@media only screen and (max-device-width: 412px) {
  .app-page {
    padding: 15px;
  }
  .app-page .matches {
    justify-content: space-between;
  }
  .app-page .rank {
    max-width: 100% !important;
  }
  .app-page div.panel {
    max-width: 100%;
  }
  .app-page details div.content {
    padding: 24px 10px 40px 10px;
  }
}
