<div class="app-page">
  <div class="app-page__header">
    <h3>Raspored</h3>
    <!-- <h2>{{ "HEADER.NEW PLAYER" | translate }}</h2> -->

    <h4>Pravila:</h4>

    <ul>
      <li>u grupama igra svako sa svakim, pobijeda donosi 2 boda</li>
      <li>
        igra se jedan set na 4 dobijena gema, (u slucaju 4:4 igra se tie-break
        do 7)
      </li>
      <li>
        po zavrsetku skupina u slucaju istog br bodova gleda se medjusobni omjer
      </li>
      <li>
        ukoliko 3 igraca imaju isti br bodova, gleda se broj izgubljenih gemova
      </li>
      <br />
      <li>
        drugi dio takmicenja se igra na dva dobijena seta do 3, (u slucaju 3:3 u
        setu igra se tie-break do 7)
      </li>
      <li>
        finale i trece mjesto se igra na 3 dobijena seta do 3, (u slucaju 3:3 u
        setu igra se tie-break do 7)
      </li>

      <br />
      <li>polufinale se igra unaksrno 1. i 2. iz skupina</li>
      <li>za 5. i 6. mjesto igraju treceplasirani iz skupina</li>
      <li>za 7. i 8. mjesto igraju cetvrtoplasirani iz skupina</li>
      <li>od 9 do 11 mjesta razigravaju 5., 5. i 6.</li>
      <br />
      <li>prvo mjesto donosi 110 bodovo a svako slijedece 10 bodova manje</li>
      <li>ukupno 34 meca</li>
      <li>
        organizator zadrzava pravo mijenjanja praivila i namijestanja rezultata!
      </li>
    </ul>

    <br />

    <h4>Raspored:</h4>
    <div class="matches">
      <div class="matches__first">
        <ul class="list-decimal">
          <li>Stef : Ilija</li>
          <li>Zvone : Ante</li>
          <li>Pandza : Ilija</li>
          <li>Stef : Zvone</li>
          <li>Pandza : Ante</li>
          <li>Zvone : Ilija</li>
          <li>Stef : Ante</li>
          <li>Zvone : Pandza</li>
          <li>Ante : Ilija</li>
          <li>Stef : Pandza</li>
        </ul>
      </div>
      <div class="matches__second">
        <ul class="list-decimal">
          <li>Dejan : Stanko</li>
          <li>Dino : Tomica</li>
          <li>Robo : Nikola</li>
          <li>Tomica : Stanko</li>
          <li>Dejan : Robo</li>
          <li>Dino : Nikola</li>
          <li>Dejan : Tomica</li>
          <li>Robo : Stanko</li>
          <li>Dejan : Dino</li>
          <li>Nikola : Stanko</li>
          <li>Robo : Tomica</li>
          <li>Dino : Stanko</li>
          <li>Dejan : Nikola</li>
          <li>Dino : Robo</li>
          <li>Nikola : Tomica</li>
        </ul>
      </div>
    </div>

    <br />

    <h4>Skupina Smrti:</h4>
    <div class="res">
      <table id="customers">
        <tr>
          <th></th>
          <th>Stef</th>
          <th>Zvone</th>
          <th>Pandza</th>
          <th>Ante</th>
          <th>Ilija</th>
        </tr>
        <tr>
          <td>Stef</td>
          <td>X</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Zvone</td>
          <td></td>
          <td>X</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Pandza</td>
          <td></td>
          <td></td>
          <td>X</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Ante</td>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
          <td></td>
        </tr>
        <tr>
          <td>Ilija</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
      </table>
    </div>

    <br /><br />

    <h4>Skupina Laganica:</h4>
    <div class="res">
      <table id="customers">
        <tr>
          <th></th>
          <th>Dejan</th>
          <th>Dino</th>
          <th>Robo</th>
          <th>Nikola</th>
          <th>Tomica</th>
          <th>Stanko</th>
        </tr>
        <tr>
          <td>Dejan</td>
          <td>X</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Dino</td>
          <td></td>
          <td>X</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Robo</td>
          <td></td>
          <td></td>
          <td>X</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Nikola</td>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Tomica</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
          <td></td>
        </tr>
        <tr>
          <td>Stanko</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
      </table>
    </div>

    <br /><br />

    <h4>Predvidjanje kladionica:</h4>
    <img
      src="./../../../assets/image/schedule/kladionica.jpg"
      alt="kladionica"
      class="img-kl"
    />
  </div>
</div>
