<div class="app-page">
  <div class="app-page__header">
    <!-- <div class="panel">
      <details>
        <summary>
          <ul>
            <li class="titleName">Trip name</li>
            <li class="titleValue">Caribbean cruise</li>
            <li></li>
          </ul>
        </summary>
        <div class="content">
          <p>
            Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas.
          </p>
        </div>
      </details>
      <details>
        <summary>
          <ul>
            <li>Location</li>
            <li class="titleValue">Barbados</li>
            <li></li>
          </ul>
        </summary>
        <div class="content">
          <p>Result not found</p>
        </div>
      </details>
      <details>
        <summary>
          <ul>
            <li>Start and end dates</li>
            <li class="titleValue"><time>Start Date:</time> Feb 29, 2016</li>
            <li class="titleValue"><time>End Date:</time> Not set</li>
          </ul>
        </summary>
        <div class="content">
          <p>
            Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas.
          </p>
        </div>
      </details>
    </div> -->
    <br />

    <h4>Raspored:</h4>
    <div class="matches">
      <div class="matches__first">
        <ul class="list-decimal">
          <li>Stef - Ilija (4:1)</li>
          <li>Zvone - Ante (4:0)</li>
          <li>Pandza - Ilija (4:1)</li>
          <li>Stef - Zvone (4:1)</li>
          <li>Pandza - Ante (4:0)</li>
          <li>Zvone - Ilija (4:1)</li>
          <li>Stef - Ante (4:0)</li>
          <li>Zvone - Pandza (4:0)</li>
          <li>Ante - Ilija (2:4)</li>
          <li>Stef - Pandza (2:4)</li>
        </ul>
      </div>
      <div class="matches__second">
        <ul class="list-decimal">
          <li>Dejan - Stanko (4:0)</li>
          <li>Dino - Tomica (0:4)</li>
          <li>Robo - Nikola (1:4)</li>
          <li>Tomica - Stanko (4:2)</li>
          <li>Dejan - Robo (4:0)</li>
          <li>Dino - Nikola (0:4)</li>
          <li>Dejan - Tomica (4:1)</li>
          <li>Robo - Stanko (2:4)</li>
          <li>Dejan - Dino (4:0)</li>
          <li>Nikola - Stanko (5:3)</li>
          <li>Robo - Tomica (0:4)</li>
          <li>Dino - Stanko (0:4)</li>
          <li>Dejan - Nikola (4:1)</li>
          <li>Dino - Robo (5:3)</li>
          <li>Nikola - Tomica (3:5)</li>
        </ul>
      </div>
    </div>

    <br />

    <h4>Skupina Smrti:</h4>
    <div class="res">
      <table id="customers">
        <tr>
          <th></th>
          <th>Stef</th>
          <th>Zvone</th>
          <th>Pandza</th>
          <th>Ilija</th>
          <th>Ante</th>
        </tr>
        <tr>
          <td>Stef</td>
          <td>x</td>
          <td>4:1</td>
          <td>2:4</td>
          <td>4:1</td>
          <td>4:0</td>
        </tr>
        <tr>
          <td>Zvone</td>
          <td>1:4</td>
          <td>x</td>
          <td>0:4</td>
          <td>4:1</td>
          <td>4:0</td>
        </tr>
        <tr>
          <td>Pandza</td>
          <td>4:2</td>
          <td>4:0</td>
          <td>x</td>
          <td>4:1</td>
          <td>4:0</td>
        </tr>
        <tr>
          <td>Ilija</td>
          <td>1:4</td>
          <td>1:4</td>
          <td>1:4</td>
          <td>x</td>
          <td>4:2</td>
        </tr>
        <tr>
          <td>Ante</td>
          <td>0:4</td>
          <td>0:4</td>
          <td>0:4</td>
          <td>2:4</td>
          <td>x</td>
        </tr>
      </table>
    </div>

    <br /><br />

    <h4>Skupina Laganica:</h4>
    <div class="res">
      <table id="customers">
        <tr>
          <th></th>
          <th>Dejan</th>
          <th>Dino</th>
          <th>Robo</th>
          <th>Tomica</th>
          <th>Nikola</th>
          <th>Stanko</th>
        </tr>
        <tr>
          <td>Dejan</td>
          <td>x</td>
          <td class="win">4:0</td>
          <td>4:0</td>
          <td>4:1</td>
          <td>4:1</td>
          <td>4:0</td>
        </tr>
        <tr>
          <td>Dino</td>
          <td class="lose">0:4</td>
          <td>x</td>
          <td>5:3</td>
          <td>0:4</td>
          <td>0:4</td>
          <td>0:4</td>
        </tr>
        <tr>
          <td>Robo</td>
          <td>0:4</td>
          <td>3:5</td>
          <td>x</td>
          <td>0:4</td>
          <td>1:4</td>
          <td>2:4</td>
        </tr>
        <tr>
          <td>Tomica</td>
          <td>1:4</td>
          <td>4:0</td>
          <td>4:0</td>
          <td>x</td>
          <td>5:3</td>
          <td>4:2</td>
        </tr>
        <tr>
          <td>Nikola</td>
          <td>1:4</td>
          <td>4:0</td>
          <td>4:1</td>
          <td>3:5</td>
          <td>x</td>
          <td>5:3</td>
        </tr>
        <tr>
          <td>Stanko</td>
          <td>0:4</td>
          <td>4:0</td>
          <td>4:2</td>
          <td>2:4</td>
          <td>3:5</td>
          <td>x</td>
        </tr>
      </table>
    </div>

    <br /><br />

    <h4>Predvidjanje kladionica:</h4>
    <img
      src="./../../../assets/image/schedule/kladionica.jpg"
      alt="kladionica"
      class="img-kl"
    />
  </div>
</div>
