<div class="app-page">
  <div class="app-page__header">
    <h3>Rezultati</h3>

    <h4>Turniri:</h4>

    <div class="panel">
      <!-- Graz -->
      <details>
        <summary>Graz &nbsp;<span class="datum">04.06.2022 </span></summary>
        <div class="content">
          <h4>Skupina Smrti:</h4>
          <div class="res">
            <table id="customers">
              <tr>
                <th></th>
                <th>Stef</th>
                <th>Zvone</th>
                <th>Pandza</th>
                <th>Ilija</th>
                <th>Ante</th>
              </tr>
              <tr>
                <td>Stef</td>
                <td>x</td>
                <td>4:1</td>
                <td>2:4</td>
                <td>4:1</td>
                <td>4:0</td>
              </tr>
              <tr>
                <td>Zvone</td>
                <td>1:4</td>
                <td>x</td>
                <td>0:4</td>
                <td>4:1</td>
                <td>4:0</td>
              </tr>
              <tr>
                <td>Pandza</td>
                <td>4:2</td>
                <td>4:0</td>
                <td>x</td>
                <td>4:1</td>
                <td>4:0</td>
              </tr>
              <tr>
                <td>Ilija</td>
                <td>1:4</td>
                <td>1:4</td>
                <td>1:4</td>
                <td>x</td>
                <td>4:2</td>
              </tr>
              <tr>
                <td>Ante</td>
                <td>0:4</td>
                <td>0:4</td>
                <td>0:4</td>
                <td>2:4</td>
                <td>x</td>
              </tr>
            </table>
          </div>

          <br /><br />

          <h4>Skupina Laganica:</h4>
          <div class="res">
            <table id="customers">
              <tr>
                <th></th>
                <th>Dejan</th>
                <th>Dino</th>
                <th>Robo</th>
                <th>Tomica</th>
                <th>Nikola</th>
                <th>Stanko</th>
              </tr>
              <tr>
                <td>Dejan</td>
                <td>x</td>
                <td>4:0</td>
                <td>4:0</td>
                <td>4:1</td>
                <td>4:1</td>
                <td>4:0</td>
              </tr>
              <tr>
                <td>Dino</td>
                <td>0:4</td>
                <td>x</td>
                <td>5:3</td>
                <td>0:4</td>
                <td>0:4</td>
                <td>0:4</td>
              </tr>
              <tr>
                <td>Robo</td>
                <td>0:4</td>
                <td>3:5</td>
                <td>x</td>
                <td>0:4</td>
                <td>1:4</td>
                <td>2:4</td>
              </tr>
              <tr>
                <td>Tomica</td>
                <td>1:4</td>
                <td>4:0</td>
                <td>4:0</td>
                <td>x</td>
                <td>5:3</td>
                <td>4:2</td>
              </tr>
              <tr>
                <td>Nikola</td>
                <td>1:4</td>
                <td>4:0</td>
                <td>4:1</td>
                <td>3:5</td>
                <td>x</td>
                <td>5:3</td>
              </tr>
              <tr>
                <td>Stanko</td>
                <td>0:4</td>
                <td>4:0</td>
                <td>4:2</td>
                <td>2:4</td>
                <td>3:5</td>
                <td>x</td>
              </tr>
            </table>
            <br />
            <br />
            <h4>Drugi krug:</h4>
            <ul>
              <li>Za 9. mjesto: <span>Ante</span> - Dino 3:0 1:3 (2:7)</li>
              <li>Za 7. mjesto: <span>Ilija</span> - Stanko (Stanko dis.)</li>
              <li>Za 5. mjesto: Zvone - <span>Nikola</span> 3:0 0:3 (4:7)</li>
              <li>I Polufinale: <span>Dejan</span> : Stef 3:0 3:1</li>
              <li>II Polufinale: Pandza - <span>Tomo</span> 0:3 1:3</li>
              <li>Za 3. mjesto: <span>Pandza</span> - Stef (Stef predao)</li>
              <li>Finale: <span>Dejan</span> - Tomo 4:2 3:1</li>
            </ul>
          </div>
        </div>
      </details>

      <!-- Hercegovina -->
      <details>
        <summary>
          Hercegovina &nbsp;<span class="datum">23.07.2022 </span>
        </summary>
        <div class="content">
          <div class="content">
            <h4>Skupina Lune Lune:</h4>
            <div class="res">
              <table id="customers">
                <tr>
                  <th></th>
                  <th>Dejan</th>
                  <th>Stef</th>
                  <th>Ante</th>
                  <th>Robo</th>
                  <th>Nikola</th>
                  <th>Stanko</th>
                </tr>
                <tr>
                  <td>Dejan</td>
                  <td>x</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Stef</td>
                  <td></td>
                  <td>x</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Ante</td>
                  <td></td>
                  <td></td>
                  <td>x</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Robo</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>x</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Nikola</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>x</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Stanko</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>x</td>
                </tr>
              </table>
            </div>

            <br /><br />

            <h4>Skupina Blidinje:</h4>
            <div class="res">
              <table id="customers">
                <tr>
                  <th></th>
                  <th>Tomo</th>
                  <th>Pandza</th>
                  <th>Ilija</th>
                  <th>Dino</th>
                  <th>Zvone</th>
                </tr>
                <tr>
                  <td>Tomo</td>
                  <td>x</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Pandza</td>
                  <td></td>
                  <td>x</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Ilija</td>
                  <td></td>
                  <td></td>
                  <td>x</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Dino</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>x</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Zvone</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>x</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </details>

      <!-- Gradiska -->
      <details>
        <summary>
          Gradiska &nbsp;<span class="datum">Coming soon </span>
        </summary>
        <div class="content">
          <p>...</p>
        </div>
      </details>

      <!-- Zagreb -->
      <details>
        <summary>Zagreb &nbsp;<span class="datum">Coming soon </span></summary>
        <div class="content">
          <p>...</p>
        </div>
      </details>
    </div>
    <br />

    <h4>Tabela:</h4>

    <table id="customers" class="rank">
      <tr>
        <th>Rank</th>
        <th>Players</th>
        <th>Points</th>
      </tr>
      <tr *ngFor="let player of players | pipeRankingList; let index = index">
        <td>{{ index + 1 }}.</td>
        <td
          (click)="onGetPlayer(player.eventId)"
          [routerLink]="['/players', player.name]"
        >
          {{ player.name }}
        </td>
        <td>{{ player.points }}</td>
      </tr>
    </table>
    <!-- 
    <h4>Raspored:</h4>
    <div class="matches">
      <div class="matches__first">
        <ul class="list-decimal">
          <li>Stef - Ilija (4:1)</li>
          <li>Zvone - Ante (4:0)</li>
          <li>Pandza - Ilija (4:1)</li>
          <li>Stef - Zvone (4:1)</li>
          <li>Pandza - Ante (4:0)</li>
          <li>Zvone - Ilija (4:1)</li>
          <li>Stef - Ante (4:0)</li>
          <li>Zvone - Pandza (4:0)</li>
          <li>Ante - Ilija (2:4)</li>
          <li>Stef - Pandza (2:4)</li>
        </ul>
      </div>
      <div class="matches__second">
        <ul class="list-decimal">
          <li>Dejan - Stanko (4:0)</li>
          <li>Dino - Tomica (0:4)</li>
          <li>Robo - Nikola (1:4)</li>
          <li>Tomica - Stanko (4:2)</li>
          <li>Dejan - Robo (4:0)</li>
          <li>Dino - Nikola (0:4)</li>
          <li>Dejan - Tomica (4:1)</li>
          <li>Robo - Stanko (2:4)</li>
          <li>Dejan - Dino (4:0)</li>
          <li>Nikola - Stanko (5:3)</li>
          <li>Robo - Tomica (0:4)</li>
          <li>Dino - Stanko (0:4)</li>
          <li>Dejan - Nikola (4:1)</li>
          <li>Dino - Robo (5:3)</li>
          <li>Nikola - Tomica (3:5)</li>
        </ul>
      </div>
    </div>
  -->

    <br />
  </div>
</div>
