@import "styles.scss";

.wrapper {
  background-image: url("https://t4.ftcdn.net/jpg/02/04/19/73/360_F_204197377_mGHloO1S47PXmlfP1iLpB4JDUgnyC5zp.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;

  .title {
    padding-top: 10%;
    text-align: center;
    color: $primary-dark;
  }
}

// @media only screen and (max-width: 412px) {
@media only screen and (max-width: 375px) {
  .title {
    padding-top: 10%;
    text-align: center;
    color: $primary-dark;
  }
}
