@import "styles.scss";

.players {
  display: flex;
  height: 100%;

  &__side {
    flex: 1;
    background-color: #d6e9c6a9;
  }

  &__dashboard {
    flex: 3;
  }

  .active {
    font-weight: 900;
  }
}
