<app-loading-tennis *ngIf="loading$ | async"></app-loading-tennis>
<div class="players">
  <!-- sidenav -->
  <div class="players__side">
    <app-player-sidenav
      *ngFor="let player of players$ | async"
      [playerName]="player.name"
      [playerImage]="player.image"
      [routerLink]="[player.name]"
      (click)="onSendActiveUser(player.name)"
    ></app-player-sidenav>
  </div>
  <!-- dashboard -->
  <div class="players__dashboard">
    <app-choose-player *ngIf="isChoose"></app-choose-player>
    <router-outlet></router-outlet>
  </div>
</div>
