<div class="app-page">
  <div class="app-page__header">
    <h1>Welcome!</h1>
  </div>
  <div class="app-page__content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos dolor
      voluptates id placeat perspiciatis molestiae, eum non architecto a nemo
      cum omnis harum iste commodi excepturi cupiditate ullam quae perferendis.
      Perspiciatis repellendus quisquam animi amet quis suscipit, magni
      mollitia. Commodi, non mollitia! Vel delectus officiis explicabo quidem
      nam accusamus libero corrupti, laborum quae placeat voluptatum distinctio
      provident omnis quisquam, dolorum, aliquid nihil! Dolor, dicta!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos dolor
      voluptates id placeat perspiciatis molestiae, eum non architecto a nemo
      cum omnis harum iste commodi excepturi cupiditate ullam quae perferendis.
      Perspiciatis repellendus quisquam animi amet quis suscipit, magni
      mollitia. Commodi, non mollitia! Vel delectus officiis explicabo quidem
      nam accusamus libero corrupti, laborum quae placeat voluptatum distinctio
      et nemo nesciunt corporis. Nam eius rem pariatur sint aut! Mollitia, amet
      dolorum maiores dicta fuga reprehenderit aspernatur quos quasi est, soluta
      sapiente pariatur, eius hic velit suscipit recusandae id neque quas
      commodi minus. Nobis dolorem veritatis eius sed quas sint expedita nisi
      laborum modi quidem impedit saepe ipsum, veniam dolore sunt id rem ipsa in
      provident omnis quisquam, dolorum, aliquid nihil! Dolor, dicta!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos dolor
      voluptates id placeat perspiciatis molestiae, eum non architecto a nemo
      cum omnis harum iste commodi excepturi cupiditate ullam quae perferendis.
      Perspi et nemo nesciunt corporis. Nam eius rem pariatur sint aut!
      Mollitia, amet dolorum maiores dicta fuga reprehenderit aspernatur quos
      quasi est, soluta sapiente pariatur, eius hic velit suscipit recusandae id
      neque quas commodi minus. Nobis dolorem veritatis eius sed quas sint
      expedita nisi laborum modi quidem impedit saepe ipsum, veniam dolore sunt
      id rem ipsa in provident omnis quisquam, dolorum, aliquid nihil! Dolor,
      dicta!
    </p>
  </div>
</div>
