@import "styles.scss";

.app-page {
  border: none;
  background-color: transparent;
  display: flex;
  margin: 0 auto;

  &__left {
    padding-top: 20px;
    width: 55%;
    text-align: center;

    h1 {
      color: white;
      font-size: 60px;
      font-family: serif;
    }
  }
}

.overlay {
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(147deg, #5ed893 0%, #166d3b 74%);
  height: 100%;
  width: 100%;
}

p {
  font-family: Fredoka-Regular;
  font-size: larger;
  color: antiquewhite;
  text-align: justify;
}

.player-img {
  display: block;
  position: absolute;
  right: -200px;
  width: 700px;
  height: 600px;
}
