.app-page {
  border: none;
  position: absolute;
  top: 80px;
  background-color: transparent;
  width: 50%;
  font-size: larger;
}

.overlay {
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: url("https://www.thetimes.co.uk/imageserver/image/%2Fmethode%2Ftimes%2Fprod%2Fweb%2Fbin%2Fb8251d4c-83a5-11e8-b7ab-42d55e61ad8f.jpg?crop=2596%2C1461%2C339%2C60");
  height: 100%;
  width: 100%;
}

h1 {
  font-size: xx-large;
  color: antiquewhite;
}

p {
  font-family: Fredoka-Regular;
  font-size: larger;
  color: antiquewhite;
}
