.container {
  //   display: flex;
  //   flex-direction: row;
  //   flex-wrap: nowrap;
  //   justify-content: center;
  //   align-items: center;
  //   align-content: stretch;
  max-width: 500px;
  min-width: 200px;
  margin-top: 80px;
}
