.container {
  //   display: flex;
  //   flex-direction: row;
  //   flex-wrap: nowrap;
  //   justify-content: center;
  //   align-items: center;
  //   align-content: stretch;
  width: 500px;
  margin: 0 auto;
  margin-top: 40px;
}
