/* You can add global styles to this file, and also import other style files */
@import "styles/main";

@font-face {
  font-family: Fredoka-Bold;
  src: url(assets/fonts/Fredoka-Bold.ttf) format("truetype");
}

@font-face {
  font-family: Fredoka-Regular;
  src: url(assets/fonts/Fredoka-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Libre;
  src: url(assets/fonts/LibreBaskerville-Regular.ttf) format("truetype");
}

@font-face {
  font-family: PTSans;
  src: url(assets/fonts/PTSans-Regular.ttf) format("truetype");
}

html,
body {
  height: auto;
  font-family: Pacifico;
  background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  margin: 0;
  font-family: Fredoka-Regular;

  // font-family: Roboto, "Helvetica Neue", sans-serif;
}
