@import "styles.scss";

.app-button-primary {
  padding: 8px 20px;
  border: 2px solid $on-primary;
  background: $on-primary;
  color: $primary-dark;
  border-radius: 25px;
  transition: 0.25s;
  margin: 0 4px;
  font-family: "Fredoka-Regular";

  &:hover {
    background: transparent;
    color: $primary-dark;
    border: 2px solid $primary-dark;
    font-weight: 900;
  }
}

@media only screen and (max-device-width: 360px) {
  .app-button-primary {
    margin-bottom: 10px;
    width: 100%;
  }
}
