@import "styles.scss";

.app-button-primary {
  padding: 8px 20px;
  border: 2px solid $on-primary;
  background: $on-primary;
  color: $primary-dark;
  border-radius: 25px;
  transition: 0.25s;
  margin: 0 4px;
  font-family: "Fredoka-Regular";

  &:hover {
    background: #2a8b54;
    color: $on-primary;
    border: 2px solid $on-primary;
  }
}
