@import "styles.scss";

.app-button-primary {
  padding: 8px 20px;
  border: 2px solid $primary-dark;
  background: $primary-dark;
  color: $on-primary;
  border-radius: 25px;
  transition: 0.25s;
  margin: 0 4px;
  font-family: "Fredoka-Regular";

  &:hover {
    background: transparent;
    color: $primary-dark;
    border: 2px solid$primary-dark;
    font-weight: 900;
  }
}
