@import "../../../../../styles.scss";

.app-button-primary {
  padding: 8px 20px;
  border: 2px solid #2a8b54;
  background: #2a8b54;
  color: $on-primary;
  border-radius: 25px;
  transition: 0.25s;
  margin: 0 4px;

  &:hover {
    background: transparent;
    color: #2a8b54;
    border: 2px solid #2a8b54;
  }
}
