@import "styles.scss";

.players {
  display: flex;
  max-width: 900px;
  margin: auto;

  &__side {
    flex: 1;
    background-color: #8dd651a9;
  }

  &__dashboard {
    flex: 3;
  }

  .active {
    font-weight: 900;
  }
}
