@import "styles.scss";

.app-page {
  margin-top: 0;
  margin-bottom: 0;
  height: fit-content;
  padding: 0;
}

.players {
  display: flex;
  min-height: 75vh;

  &__side {
    flex: 1;
    background-color: $primary-light;
  }

  &__dashboard {
    flex: 3;
  }

  .active {
    font-weight: 900;
  }
}

.test2 {
  display: none;
}

@media only screen and (max-device-width: 412px) {
  .test {
    display: none;
  }
}

@media only screen and (max-device-width: 820px) {
  .players__side {
    flex: 2;
  }
}
