@import "styles.scss";

.container {
  max-width: 1680px;
  width: 95%;
  margin: auto;

  .players {
    display: flex;
    min-height: 75vh;

    &__side {
      flex: 1;
      background-color: $primary-light;
    }

    &__dashboard {
      flex: 3;
    }

    .active {
      font-weight: 900;
    }
  }
}

@media (max-width: 1680px) {
  .container {
    width: 100% !important;
  }
}

@media (max-width: 808px) {
  .players__side {
    flex: 2 !important;
  }
  .mobileMode {
    display: none;
  }
}

@media (max-width: 412px) {
  .mobileMode {
    display: none;
  }
}
