<div class="container">
  <app-loading-tennis *ngIf="loading$ | async"></app-loading-tennis>

  <div class="players">
    <!-- sidenav -->
    <div class="players__side" [ngClass]="{ mobileMode: isMobile }">
      <app-player-sidenav
        *ngFor="let player of players$ | async"
        [playerName]="player.name"
        [playerImage]="player.image"
        [playerId]="player.eventId"
        [routerLink]="[player.name]"
        (click)="onSendActiveUser(player.name)"
      ></app-player-sidenav>
    </div>

    <!-- dashboard -->
    <div
      class="players__dashboard mobileMode"
      [ngClass]="{ mobileMode: !isMobile }"
    >
      <router-outlet> </router-outlet>
    </div>
  </div>
</div>
