h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-family: Libre !important;
}

b,
strong {
  font-weight: 500;
}

p {
  display: block;
  margin-left: 0;
  margin-right: 0;
  font-family: Fredoka-Regular;
}

h1 {
  font-size: clamp(40px, 7vw, 72px);
}

h2 {
  font-size: clamp(30px, 6vw, 56px);
  line-height: 1.2;
}

h3 {
  font-size: clamp(25px, 5vw, 40px);
}

h4 {
  font-size: clamp(20px, 4vw, 24px);
}

h5 {
  font-size: clamp(16px, 2vw, 20px);
}
